{% extends base_plugin_twig %}

{% block build -%}
  // @see https://schema.org/JobPosting
    // @see https://developers.google.com/search/docs/data-types/job-posting
    $jsld = [
      '@context' => 'http://schema.org',
      '@type' => 'JobPosting',
      'title' => 'Fitter and Turner',
      'description' => '<p>Widget assembly role for pressing wheel assemblies.</p>',
      'identifier' => [
        '@type' => 'PropertyValue',
        'name' => 'MagsRUs Wheel Company',
        'value' => '1234567',
      ],
      'datePosted' => '2018-08-08',
      'validThrough' => '2018-09-08T00:00',
      'employmentType' => 'CONTRACTOR',
      'hiringOrganization' => [
        '@type' => 'Organization',
        'name' => 'MagsRUs Wheel Company',
        'sameAs' => 'https://example.com',
        'logo' => 'https://example.com/logo.png',
      ],
      'jobLocation' => [
        '@type' => 'Place',
        'address' => [
          '@type' => 'PostalAddress',
          'streetAddress' => '555 Clancy St',
          'addressLocality' => 'Detroit',
          'addressRegion' => 'MI',
          'postalCode' => '48201',
          'addressCountry' => 'US',
        ],
      ],
      'baseSalary' => [
        '@type' => 'MonetaryAmount',
        'currency' => 'USD',
        'value' => [
          '@type' => 'QuantitativeValue',
          'value' => 40.00,
          'unitText' => 'HOUR',
        ],
      ],
    ];
{% endblock %}
